/* Header */
header {
  background: $gray;
  padding: 10px;
  margin-bottom: 20px;

  /* Cancel the header margin on home page. */
  body#home & {
    margin-bottom: 0;
  }

  .row {
    margin-bottom: 0;
  }
}

.logo {
  float: left;
  width: 65px;
}
